<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #faeee7;">
  <div class="container-fluid">
    <a class="navbar-brand" style="display: flex; align-items: center; line-height: 40px;" href="/">
      <img src="<%= @logo %>" alt="" width="32" height="32" class="d-inline-block align-top me-2">
      <h1 style="font-size: 1.5rem; margin: 0;">Gaya On!</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link active" aria-current="page" href="/about">About</a>-->
        <!--</li>-->
      </ul>
      
      <% unless @room.nil? %>
      <span class="navbar-text">
        Room no: <%= @room.room_id  %>
      </span>
      <% end %>
    </div>
  </div>
</nav>