@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*:focus {
  outline: none;
}

html {
  touch-action: manipulation;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
  color: #33272a;
}

.btn{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 50%;
  border: none;
  cursor:pointer;
}

.btn--circle {
  width: 256px;
  height: 256px;
  padding: 10px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #ff8ba7;
  -webkit-box-shadow: 0 7px 0 #c96d83;
  box-shadow: 0 7px 0 #c96d83;
}

.btn--circle i {
  font-size: 90px;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

.btn--circle:hover {
  color: #fff;
}

.btn--circle:active {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #c96d83;
  box-shadow: 0 3px 0 #c96d83;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}